html {
  --r1: #F5624D;
  --r2: #CC231E;
  --r3: #CC231E66;
  --g1: #34A65F;
  --g2: #0F8A5F;
  --g3: #0F8A5F66;
  --dark: #235E6F;
  
  font-size: 15px;
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
  align-items: center;
  
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;

  background-image: linear-gradient(to bottom, #1b1523, var(--dark));
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  color: white;
  font-family: Courier New, Courier, monospace;
}

#copyright {
  position: fixed;
  bottom: 0;
  width: 100%;

  text-align: center;
  font-size: 70%;
  opacity: 0.7;
  color: inherit;
  text-decoration: none;

  user-select: none;
}

.file-input {
  font-family: inherit;
  color: inherit;
  display: block;
}
.file-input input[type=file] {
  display: none;
}
.file-input::before {
  content: 'Select input file';
  display: block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px 10px;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  font-size: inherit;
}
.file-input:hover::before {
  background: #fff3;
}
.file-input:active::before {
  background: #fff6;
}

canvas {
  z-index: -1;
  pointer-events: none;
}

.advent-entry {
  --light: var(--r1);
  --dark: var(--r2);
  --pattern: var(--r3);
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 200px;
  position: relative;

  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  margin: 25px;
  
  background-position: 0 0, 25px 25px, 0 0;
  background-size: 50px 50px, 50px 50px, 100% 100%;
  background-image: radial-gradient(var(--pattern) 30%, transparent 31%),
    radial-gradient(var(--pattern) 30%, transparent 31%),
    linear-gradient(to bottom, var(--light), var(--dark));
  box-shadow: 0 3px 10px 0 #0003;
    
  text-align: center;
}
.advent-entry:nth-child(2n) {
  --light: var(--g1);
  --dark: var(--g2);
  --pattern: var(--g3);
}
.advent-entry > *:not(:last-child) {
  margin: 0 0 10px 0;
}
.advent-entry h3 {
  text-decoration: underline;
}
.advent-entry a {
  position: absolute;
  top: 10px;
  right: 10px;

  font-size: 70%;
  color: inherit;
  opacity: 0.7;
  text-decoration: none;
}